# Auto detect text files and perform LF normalization
* text=auto

# Явные исключения для бинарных файлов
*.suo binary
*.pdf binary
*.png binary

# Для исходников явно указываем CP1251
*.cpp text working-tree-encoding=CP1251 eol=CRLF
*.h text working-tree-encoding=CP1251 eol=CRLF
*.txt text working-tree-encoding=CP1251 eol=CRLF